﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @foreach (var notification in Model.Notifications)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@notification.Category (@notification.Statuses.OrderByDescending(n => n.ChangeDate).FirstOrDefault()?.Status)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@notification.Subcategory, @notification.CreateDate.ToShortTimeString()</h6>
                <p class="card-text">@notification.Event</p>
                <a href="#" class="card-link">więcej</a>
                <a href="#" class="card-link">obserwuj</a>
            </div>
        </div>
    }
</div>
